<h1>Users#profile</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>

<h3>Profile, create view to show all listed bikes and booked bikes and maybe just show them their info or anything</h3>










