<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->

<%= video_tag("london.mp4",  autoplay: :autoplay,
loop: :loop, mute: :mute, class: "video-container") %>

<%= link_to 'go index', cycles_path %>
<%= link_to 'View Profile', dashboard_path %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
