.banner-container {
  position: relative;
  height: 100vh;
}

.video-container {
   width: 100%;
   height: 100%;
   background-size: cover;
   display: flex;
   // justify-content: center;
   object-fit: cover;
   // top: 0;
   opacity: 0.5;
}

.container video {
  z-index:0;
}

.stacked-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.text-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  // position: absolute;
  // top: 50%;
  // left: 33%;
  // z-index: 1;
  width: 450px;
}

#tagline {
  // position: absolute;
  font-size: 56px;
  font-weight: bolder;
  // left: 30%;
  // top: 35%;
  // left: 22%;
  color: black;
  // z-index: 2;
  font-family: 'Muli', sans-serif;
  // justify-content: center;
  background-color: rgba(246,150,80,0.3)
}

.overlay p {
  color: black;
  text-align: center;
  font-weight: bolder;
  font-family: Numans;
  font-size: 24px;
  // text-shadow: 1px 1px 1px black;
  // opacity: 0.7;
  }

.overlay-base video {
  // background-color: black;
  // opacity: 0.5;
}

.log-in-banner {
  background-size: cover;
}

#ease {
  font-family: 'Homemade Apple', cursive;
}
