// BIG CARD
.big-card {
  // overflow: hidden;
  height: 340px;
  width: 90%;
  background: yellow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.big-card.small {
  height: 200px;
  width: 50%;
  font-size: 18px;
}
.big-card img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  right: 0;
  padding: 16px;
  background-color: white;
}

.big-card h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top:20px;
  left:25px;
}

.info-list {
  padding: 30px 15px 0px 35px;
  font-size: 25px;
  text-decoration: none;

}

.big-card ul li {
  list-style-type: none;

  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  position:relative;
  zoom: 1;
  display: inline;
}

.big-card .big-card-infos {
  width: 50%;
  padding: 16px;
}


// HTML
// <div class="big-card">
//   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
//   <div class="big-card-infos">
//     <h2>Product name</h2>
//     <p>Product description with <strong>relevant info</strong> only.</p>
//   </div>
// </div>



// SMALL CARD

.small-card {
  background: #090909;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  color: white;
  .card-price {
    font-size: 22px;
  }
}

.fa-heart {
    position: absolute;
    bottom: 18px;
    left: 28px;
    font-size: 28px;
  }

.small-card:hover {
  box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
}

.card-price:hover {
    color: #FFED31;
    text-shadow: 1px 1px 2px #090909, 0 0 1em #FFED31, 0 0 0.2em #FFED31;
  }

.small-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 8px;
  background-color: white
}

.small-card .small-card-infos {
  h3 {
    font-weight: bolder;
    font-size: 30px;
  }
  h5 {
   font-size: 15px;
   font-weight: normal;
  }
  margin: 16px 16px 0px 16px;
}

#cyclephoto {
    text-decoration: none;
    color: white;
  }
