// BIG CARD
.big-card {
  overflow: hidden;
  height: 400px;
  width: 100%;
  background: yellow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.big-card img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.big-card h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.big-card ul li {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.big-card .big-card-infos {
  width: 50%;
  padding: 16px;
}

// HTML
// <div class="big-card">
//   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
//   <div class="big-card-infos">
//     <h2>Product name</h2>
//     <p>Product description with <strong>relevant info</strong> only.</p>
//   </div>
// </div>



// SMALL CARD

.small-card {
  background: #090909;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.small-card:hover {
  box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
  .card-price {
    font-weight: bold;
    color: #FFED31;
    text-shadow: 1px 1px 2px red, 0 0 1em #FFED31, 0 0 0.2em #FFED31;
  }
}

.small-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.small-card .small-card-infos {
  h2 {
   font-size: 16px;
  }
  margin: 16px 16px 0px 16px;
}

#cyclephoto {
    text-decoration: none;
    color: white;
  }
