// Font styling
#my-account h1 {
  font-size: 16px;
}




// Cards

.white-long-card {
  width: 90%;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 2px;
  position: relative;
}
