// .navbar-japancycle {
//   justify-content: space-between;
//   background: #090909;
//   color: #FFED31;
//   text-decoration: none;

  // a {
  //   color: #FFED31 !important;
  // }

//   a:visited {
//     color: white;
//   }

//   a:hover {
//     color: white;
//     text-decoration: none;
//     cursor: pointer;
//   }
// }

.navbar-japancycle {
  justify-content: space-between;
  background: #090909;
  color: #FFED31;
  text-decoration: none;
    a {
    color: #FFED31 !important;
  }
}

.navbar-nav {
   a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

#navbarSupportedContent {
  a:visited {
    color: white !important;
  }
}

// #notification-text {
  // color: black;
//   a:visited {
//     color: red !important;
//   }
// }

#fa-bell {
  padding-top: 10px;
}


#logo-font {
  font-family: Numans;
  font-size: 20px;
  margin-bottom: 15px;
}

.logo {
  font-size: 20px;
  text-decoration: none;
}

.navbar-japancycle .navbar-collapse {
  flex-grow: 0;
}


// navbar button

.nav-item {
  font-family: Numans;
  border: solid 1px black;
  a:hover {
    border-color: yellow;
    transition: 1s;
  }
}

.drop-down-item {
  color: black !important;
  font-family: Open Sans;
}

