.search-form-control {
  position: relative;
  box-shadow: 5px 5px 1px 1px yellow;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 5px 5px 3px 3px yellow;
}

.search-form-control .form-control:focus {
  outline: none !important;
  // box-shadow: 5px 5px 3px 3px yellow;
}

.form-control:focus {
  border-color: yellow;
}

#yellow-form {
  border: none;
  width: 100%;
}

.form-control {
    border: 1px solid black;
    width: 50%;
}
